/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #495057;
  overflow-x: scroll;
  font-family: 'Times New Roman', Times, serif;
}

div {
  border-color: black;
  border-style: solid;
  margin: 0 auto;
  width: 75%;
  background-color: white;
}


form {
  background-color: white;
  padding: 0 5%;
  color: #495057;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}


h1 {
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
}

h2, h4 {
  color: #495057;
  background-color: white;
  padding-left: 5%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
}

h3 {
  color: #495057;
  background-color: white;
  padding-left: 5%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: x-large;
  padding-top: 20px;
}

i {
  background-color: white;
  color: #495057;
}

label {
  background-color: white;
  color: #495057;
  font-weight: 500;
  font-size: large;
  font-style: italic;
  padding-top: 20px;
}

p {
  background-color: white;
  padding: 0 5%;
  color: #495057;
  font-weight: bold;
  font-size: larger;
  margin-bottom: 0;
  margin-top: 30px;
}


/* CLASSES */

.js-start-button, .js-submit-button, .js-next-button, .js-restart-button {
  background-color: #a8dadc;
  font-weight: bold;
  border: 0;
  border-radius: 10%;
  padding: 2%;
  margin: 20px;
  display: flex;
  justify-content: center;
}

/* Media Query */
@media all and (min-width: 900px) {

  .js-start-button, .js-submit-button, .js-next-button, .js-restart-button {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 30%;
    align-self: flex-end;
    margin-left: 0;
  }

}






